@import '../../../scss/variables.scss';

.header-container {
  display: flex;
  padding: 10px 50px;
  height: 65px;
  position: absolute;
  width: 100%;
  box-sizing: border-box;


  .logo {
    display: flex;
    align-items: center;

    .logo-img {
      padding-left: 10px;
      width: 30px;
    }
  }
}
