<app-header></app-header>
<div class="img-background">
  <div class="text-container">
    <div class="title title-font">New Citizen</div>
    <div class="description subtitle-font">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat, ex egestas lobortis sagittis, ex nibh
      semper nulla, et pulvinar urna felis sit amet tortor. Ut ac quam mi. Pellentesque non venenatis magna. Nulla
      faucibus mollis dui placerat faucibus.
    </div>
  </div>
</div>
<app-services-container></app-services-container>
