@import "../src/scss/padding.scss";
@import "../src/scss/margin.scss";
@import "../src/scss/font.scss";
@import "../src/scss/flex.scss";
@import "../src/scss/classes.scss";
@import "../src/scss/shared.scss";
@import "../src/scss/helpers.scss";
@import "../src/scss/variables.scss";
@import "../src/scss/mixins.scss";

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$new-citizen-primary: mat-palette($mat-blue, 700, 600, 800);
$new-citizen-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$new-citizen-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$new-citizen-theme: mat-light-theme($new-citizen-primary, $new-citizen-accent, $new-citizen-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($new-citizen-theme);


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$new-citizen-primary: mat-palette($mat-blue, 700, 600, 800);
$new-citizen-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$new-citizen-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$new-citizen-theme: mat-light-theme($new-citizen-primary, $new-citizen-accent, $new-citizen-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($new-citizen-theme);

/* You can add global styles to this file, and also import other style files */

html { background-color: $light-grey; }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

section { margin: 2rem 3rem; }
