.m-top-10 {
    margin-top: 10px !important;
}
.m-top-20 {
    margin-top: 20px !important;
}
.m-top-30 {
    margin-top: 30px !important;
}
.m-top-40 {
    margin-top: 40px !important;
}
.m-top-50 {
    margin-top: 50px !important;
}
.m-top-60 {
    margin-top: 60px !important;
}
.m-top-70 {
    margin-top: 70px !important;
}

.m-right-10 {
    margin-right: 10px !important;
}
.m-right-15 {
    margin-right: 15px !important;
}
.m-right-20 {
    margin-right: 20px !important;
}

.m-bottom-10 {
    margin-bottom: 10px !important;
}
.m-bottom-20 {
    margin-bottom: 20px !important;
}
.m-bottom-25 {
    margin-bottom: 25px !important;
}
.m-bottom-30 {
    margin-bottom: 30px !important;
}
.m-bottom-50 {
    margin-bottom: 50px !important;
}
.m-bottom-100 {
    margin-bottom: 100px !important;
}

.m-left-10 {
    margin-left: 10px !important;
}
.m-left-15 {
    margin-left: 15px !important;
}