//------COLORS----------//
$white: #FFFFFF;
$black: #000000;
$light-grey: #EFEFEF;
$background-grey: #F5F5F5;
$grey-text: #656565;
$dark-grey: #2C434D;

$pink: #EE2365;
$red: #C92727;

$link: #3C89FC;
$light-blue: #3838E9;
$blue-text: #00006A;
$blue: #2D2CB1;
$dark-blue: #171427;

$fingopay-blue: #171427;
$fingopay-pink: #EE2266;
//------COLORS END------//

//------BREAKPOINTS-----//

$tablet: 768px !default;
$desktop: 992px !default;

//------BREAKPOINTS----//


